@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy and about the special concerns when using the Islands website.</p>

<ul>
   <li> Created with Visual Studio Community</li>
</ul>
