@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div>
        <h1 class="display-4">Welcome...</h1>
        <p class="lead">...to a learning website created from Aruba</p>
        <hr class="my-4">
        <img class="text-center" src="/images/aruba.jpg" style="height: 100%;
        width: 100%;
        object-fit: contain" />
    </div>
</div>

<div class="jumbotron">
    <div class="card-columns">

        <div class="card">
            <div class="card-body">
                <img style="        height: 100%;
        width: 100%;
        object-fit: contain" src="/images/net-core.png" />
                <h6 class="card-subtitle mb-2 text-muted">Core 3</h6>
                <p class="card-text">This website is build with ASP.NET Core 3</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img style="        height: 100%;
        width: 100%;
        object-fit: contain" src="/images/Microsoft-Visual-Studio.png" />
                <h6 class="card-subtitle mb-2 text-muted">Visual Studio Community</h6>
                <p class="card-text">This website is build using Visual Studio Community</p>
                <a href="https://visualstudio.microsoft.com/vs/community/" target="_blank" class="card-link">more info</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img style="        height: 100%;
        width: 100%;
        object-fit: contain" src="/images/csharp.png" />
                <p class="card-text">This website is build with C#</p>
                <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="card-link">more info</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img style="        height: 100%;
        width: 100%;
        object-fit: contain" src="/images/SqlServer.png" />
                <h6 class="card-subtitle mb-2 text-muted">SQL server on Mac</h6>
                <p class="card-text">This website is using an SQL server to store island data.</p>
                <a href="https://database.guide/how-to-install-sql-server-on-a-mac/" target="_blank" class="card-link">how-to-install-sql-server-on-a-mac</a>
            </div>

        </div>

        <div class="card">
            <div class="card-body">
                <img style="        height: 100%;
        width: 100%;
        object-fit: contain" src="/images/docker.png" />
                <h5 class="card-title">Docker</h5>
                <h6 class="card-subtitle mb-2 text-muted">SQL server via Docker</h6>
                <p class="card-text">This website was developed using a Docker container to host an SQL Server</p>
                <a href="https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-docker?view=sql-server-ver15&pivots=cs1-bash" target="_blank" class="card-link">quickstart-install-connect-docker</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <img style="        height: 100%;
        width: 100%;
        object-fit: contain" src="/images/bootstrap4.png" />
                <h6 class="card-subtitle mb-2 text-muted">Responsive with Bootstrap</h6>
                <p class="card-text">This website was styled using Bootstrap 4</p>
                <a href="https://getbootstrap.com/docs/4.4/getting-started/introduction/" target="_blank" class="card-link">Getting started intro</a>
            </div>
        </div>

    </div>
</div>

<div class="jumbotron">
    <div class="card-columns">

        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-muted">To Do</h5>
                <h6 class="card-subtitle mb-2 text-muted">Managing development and production scripts</h6>
                <p class="card-text">Add JQuery and Bootstrap to Package.json and remove them from wwwroot. Consider to include node_modules into the project.</p>
                <a href="https://app.pluralsight.com/course-player?clipId=8adcbdf3-1b3e-4ee9-badc-3d602ce41bb5" target="_blank" class="card-link">npm install</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-muted">To Do</h5>
                <h6 class="card-subtitle mb-2 text-muted">Remove unused usings</h6>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-muted">To Do</h5>
                <h6 class="card-subtitle mb-2 text-muted">ClientIslands.cshtm: Remove hard coded climtate types</h6>
                <p class="card-text">Get the names of the climate types via an api call direclty via the enum</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-muted">To Do</h5>
                <h6 class="card-subtitle mb-2 text-muted">Add cookiepolicy</h6>
                <p class="card-text">Add consent cookie</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-muted">To Do</h5>
                <h6 class="card-subtitle mb-2 text-muted">Environment variables</h6>
                <p class="card-text">Use environment variables to store passwords etc.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-muted">To Do</h5>
                <h6 class="card-subtitle mb-2 text-muted">Add unit tests</h6>
                <p class="card-text">Make sure unit test coverage is sufficient.</p>
            </div>
        </div>

    </div>

</div>

