@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<p>
    <h2>EF</h2>
    From project containing/applying the connection string:
    <ol>
        <li>dotnet ef migrations add AddElementTable2 --project ../Aruba.Data</li>
        <li>dotnet ef database update </li>
    </ol>
</p>