@page
@model TopRatedModel
@{
}

<h1>Top Rated Islands</h1>

<table class="table">
    @foreach (var island in Model.Islands)
    {
        <tr>
            <td>@island.Name</td>
            <td>@island.ClimateType</td>
            <td>@island.Id</td>
        </tr>
    }
</table>


<p>@Model.Message</p>

